/*header*/

.header{
	background: #02918C;

}
.section-header{
	background: black;
}
/*logo izquierda*/
.logo{float: left;}
.logo a{
	display:block;
	color: black;
	margin-top: 27px;
}
/*barra de navegacion derecha*/
.section-nav ul li a{
	color: white;
	padding: 2px 2px;
	font-size: 15px;
	font-weight: 400;
	margin: 1em;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	font-weight: 900;

}
nav {
	position: relative;
	float: right;
}
nav select {
    display: none;
  }
nav ul {
	padding: 0;
	float: right;
	margin: 6px 0;
}
nav li {
	display: inline;
	float: left;
	position:relative;
}
nav a {
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
/*seccion imagen principal hero*/
.imagen{
	background:url(../img/hero.jpg) no-repeat;
	background-size:cover;
	min-height:500px;
	position:relative;

}
/*seccion about-my*/
.about-my{
	padding: 10px 10px;
}
.icons{
	position: relative;
	padding: 10px 0 ;
}
.icons span{
	width:33px;
	height:34px;
	display:inline-block;
	background:url(../img/icons.png) no-repeat 0px 0px;
}
.icons p{
	margin: 2px auto;
}
.icons span.lapiz{
	background-position: -39px 0px;
}
.icons span.config{
	background-position: -85px 0px;
}
.icons span.compu{
	background-position: -129px 0px;	
}

/*seccion services*/
.services{
	padding: 10px 10px;
}
.container-services{
	background:url(../img/bg2.jpg) no-repeat 0px 0px;
	background-size:cover;
	min-height: 741px;
}
.services-head h2{
	color: #02918C;
	font-weight: 900;
	font-size: 3em;
	margin: 0;
	padding: 50px;
}
.goes{
	padding: 8px;
}
.goes span{
	width:33px;
	height:34px;
	display:inline-block;
	background:url(../img/icons.png) no-repeat 0px 0px;
}
.goes span.mundo
{
	background-position: -124px -49px;
}
.goes span.lupa
{
	background-position: -89px -49px;
}
.goes span.reloj
{
	background-position:  -40px -46px;
}
.goes span.stadistica
{
	background-position: -1px -44px;
}

/*seccion my work*/
.my-work{
	padding: 10px 10px;
}

.container-imagen{
	/*padding: 0px;*/
	
	position: relative;
}
.imagen-work
{	
	
	padding: 0;
	position: relative;
}
.imagen-work img{
	width: 100%;
}

.container3 {
	padding: 20px 0 40px;
}
.container3 h2{
	color: #02918C;
	font-weight: 900;
	font-size: 3em;
	margin: 0;
	padding: 0px ;
	
}
.imagen-work .imagen-hover{
	display:none;
}
.imagen-work:hover .imagen-hover {
	display: block;
	opacity: .8;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imagen-work:hover img {
	opacity: .5;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imagen-work .imagen-hover{
position: absolute;
padding: 9px;
top: 50%;
left: 50%;
transform: translate(-50% ,-50% );
width: 80%;
height: 65%;
background: #02918C;
opacity: 0.9;
color: #fff;
text-align: center;
}

.imagen-work .imagen-hover .contenido-interno{
	padding: 20px;

}


.contact{
background:#333;
padding: 35px;
}
.container1 p{
	padding: 15px;
}
.container1 h2{
	color: #02918C;
	font-weight: 900;
	font-size: 3em; /*tres veces el tamanio del texto*/
	margin: 0;
	padding: 20px;
}

.formulario{
	width:60%;
	margin:0 auto;
}
.inner{
	padding: 15px 15px;
}
.formulario span input{
	border-left: 0;
	border-right: 0;

	border: 0px;
	margin: 15px;
	background: black;
	width:60%;
	display: inline-block;
	background: black;
	width: 100%;
	border-bottom: 1px solid rgb(255, 255, 255);
	background:#333;
	text-align: center;
	border-bottom: 0;
	
	
	
}
.formulario span.text1{
	border-bottom: 0px;
	color: white;
	width:60%;
	display: inline-block;
	background: black;
	width: 100%;
	border-bottom: 1px solid rgb(255, 255, 255);
	background:#333;
	padding: 10px;
}

.formulario span.text2{
	border: 0px;
	color: white;
	width:60%;
	display: inline-block;
	background: black;
	width: 100%;
	border-bottom: 1px solid rgb(255, 255, 255);
	background:#333;
	padding: 10px;
}
.formulario span.text3{
	border: 0;
	color: white;
	border-bottom: 0px;
	width:60%;
	display: inline-block;
	background: black;
	width: 100%;
	border-bottom: 1px solid rgb(255, 255, 255);
	background:#333;
	padding: 10px;
}
.button input{
	margin: 0;
	border-bottom: 0px;
	background: #91B83E;
	margin: 20px;
	padding: 2px;
	width: 125px;
	height: 40px;

	
}

/*seccion footer*/
.footer{
	background: black;
	width: 100%;
	height: 50px;
	text-align: center;
	padding: 18px;
}













/*.imagen-work:hover img {
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
}
.imagen-work:hover img {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.imagen-work:hover img {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}*/


/*.imagen-work:hover h3 {
	position: relative;
	text-align: center;
	display:block;
	margin: 0px;


}
.imagen-work h3
{
	display: none;
}*/

/*.values{
  	display: none;
  	
  }*/
@media only screen and (max-width : 768px) {
		.imagenes6 .container-imagen .im2{
			display: none;
		}

	}
@media screen and (max-width: 736px) {
	.logo a{
		display:block;
		color: black;
		margin-top: 16px;
		vertical-align: middle;
	}
	.logo img{
		width: 80%;
		}
	nav[role="select"] ul {
    display: none;
  }
  nav[role="select"]:after {
    position: absolute;
    z-index: -1;
    content: "Menu";
    right: 0;
    bottom: -1.75em;
    background: rgba(174, 86, 168, 0.4);
    padding: .15em .55em;
  }
  nav[role="select"] select {
    display: block;
    user-select: none;
    cursor: pointer;
    width: 100%;
    margin: 18px 0;
   
    border: none;
    background:transparent;
    font: 1.2em 'Exo', sans-serif;
  }
  .button{
  	margin-right: 0;
  	margin-bottom: 0px;
  }
  
 /* .button:hover .values{
  	background:transparent;
  	color: black;
  	display: block;
	opacity: .8;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }*/

	.section-nav a{
		
		color: #2C3E50;
		padding: 0em 0;
	}
    .imagen{
    	background-size:cover;
		min-height:100px;
		position:relative;
    }
    .section-head{
    	padding: 1px;
    }
    .services-head h2
    {
    	padding: 25px 0;
    	font-size: 2em;
    }
    .container1 h2
    {
    	padding: 0px;
    	color: #02918C;
		font-weight: 900;
		font-size: 2em;
		margin: 0;
		padding: 15px;
    }
    .container3 h2
    {
    	padding: 0px;
    	color: #02918C;
		font-weight: 900;
		font-size: 2em;
		margin: 0;
		padding: 15px;
    }
    .container3 {
		padding: 5px 0 10px;
	}
	.container1 {
		padding: 5px 0 10px;
	}
	.section-nav ul li a{
		margin: 0.5em;
		padding: 0;
	}
	.imagen-work .imagen-hover{
		padding: 0.1px;
	}
	.imagenes6 .container-imagen .im2{
			display: none;
		}
			.imagen-work .imagen-hover{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% ,-50% );
width: 60%;
height: 45%;
background: #02918C;
opacity: 0.9;
color: #fff;
text-align: center;
}
}
@media screen and (max-width: 667px) {
	.logo a{
		display:block;
		color: black;
		margin-top: 16px;
		vertical-align: middle;
	}
	.logo img{
		width: 80%;
		}
	nav[role="select"] ul {
    display: none;
  }
  nav[role="select"]:after {
    position: absolute;
    z-index: -1;
    content: "Menu";
    right: 0;
    bottom: -1.75em;
    background: rgba(174, 86, 168, 0.4);
    padding: .15em .55em;
  }
  nav[role="select"] select {
    display: block;
    user-select: none;
    cursor: pointer;
    width: 100%;
    margin: 18px 0;
   
    border: none;
    background:transparent;
    font: 1.2em 'Exo', sans-serif;
  }
  .button{
  	margin-right: 0;
  	margin-bottom: 0px;
  }
  
 /* .button:hover .values{
  	background:transparent;
  	color: black;
  	display: block;
	opacity: .8;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }*/

	.section-nav a{
		
		color: #2C3E50;
		padding: 0em 0;
	}
    .imagen{
    	background-size:cover;
		min-height:100px;
		position:relative;
    }
    .section-head{
    	padding: 1px;
    }
    .services-head h2
    {
    	padding: 25px 0;
    	font-size: 2em;
    }
    .container1 h2
    {
    	padding: 0px;
    	color: #02918C;
		font-weight: 900;
		font-size: 2em;
		margin: 0;
		padding: 15px;
    }
    .container3 h2
    {
    	padding: 0px;
    	color: #02918C;
		font-weight: 900;
		font-size: 2em;
		margin: 0;
		padding: 15px;
    }
    .container3 {
		padding: 5px 0 10px;
	}
	.container1 {
		padding: 5px 0 10px;
	}
	.section-nav ul li a{
		margin: 0.5em;
		padding: 0;
	}
	.imagen-work .imagen-hover{
		padding: 0.1px;
	}
	.imagenes6 .container-imagen .im2{
			display: none;
		}
			.imagen-work .imagen-hover{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% ,-50% );
width: 60%;
height: 45%;
background: #02918C;
opacity: 0.9;
color: #fff;
text-align: center;
}
}
@media screen and (max-width: 640px) {
	.logo a{
		display:block;
		color: black;
		margin-top: 16px;
		vertical-align: middle;
	}
	.logo img{
		width: 80%;
		}
	nav[role="select"] ul {
    display: none;
  }
  nav[role="select"]:after {
    position: absolute;
    z-index: -1;
    content: "Menu";
    right: 0;
    bottom: -1.75em;
    background: rgba(174, 86, 168, 0.4);
    padding: .15em .55em;
  }
  nav[role="select"] select {
    display: block;
    user-select: none;
    cursor: pointer;
    width: 100%;
    margin: 18px 0;
   
    border: none;
    background:transparent;
    font: 1.2em 'Exo', sans-serif;
  }
  .button{
  	margin-right: 0;
  	margin-bottom: 0px;
  }
  
 /* .button:hover .values{
  	background:transparent;
  	color: black;
  	display: block;
	opacity: .8;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }*/

	.section-nav a{
		
		color: #2C3E50;
		padding: 0em 0;
	}
    .imagen{
    	background-size:cover;
		min-height:100px;
		position:relative;
    }
    .section-head{
    	padding: 1px;
    }
    .services-head h2
    {
    	padding: 25px 0;
    	font-size: 2em;
    }
    .container1 h2
    {
    	padding: 0px;
    	color: #02918C;
		font-weight: 900;
		font-size: 2em;
		margin: 0;
		padding: 15px;
    }
    .container3 h2
    {
    	padding: 0px;
    	color: #02918C;
		font-weight: 900;
		font-size: 2em;
		margin: 0;
		padding: 15px;
    }
    .container3 {
		padding: 5px 0 10px;
	}
	.container1 {
		padding: 5px 0 10px;
	}
	.section-nav ul li a{
		margin: 0.5em;
		padding: 0;
	}
	.imagen-work .imagen-hover{
		padding: 0.1px;
	}
	.imagenes6 .container-imagen .im2{
			display: none;
		}
			.imagen-work .imagen-hover{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% ,-50% );
width: 60%;
height: 45%;
background: #02918C;
opacity: 0.9;
color: #fff;
text-align: center;
}
}
@media screen and (max-width: 480px) {
	.logo a{
		display:block;
		color: black;
		margin-top: 16px;
		vertical-align: middle;
	}
	.logo img{
		width: 80%;
		}
	nav[role="select"] ul {
    display: none;
  }
  nav[role="select"]:after {
    position: absolute;
    z-index: -1;
    content: "Menu";
    right: 0;
    bottom: -1.75em;
    background: rgba(174, 86, 168, 0.4);
    padding: .15em .55em;
  }
  nav[role="select"] select {
    display: block;
    user-select: none;
    cursor: pointer;
    width: 100%;
    margin: 18px 0;
   
    border: none;
    background:transparent;
    font: 1.2em 'Exo', sans-serif;
  }
  .button{
  	margin-right: 0;
  	margin-bottom: 0px;
  }
  
 /* .button:hover .values{
  	background:transparent;
  	color: black;
  	display: block;
	opacity: .8;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }*/

	.section-nav a{
		
		color: #2C3E50;
		padding: 0em 0;
	}
    .imagen{
    	background-size:cover;
		min-height:100px;
		position:relative;
    }
    .section-head{
    	padding: 1px;
    }
    .services-head h2
    {
    	padding: 25px 0;
    	font-size: 2em;
    }
    .container1 h2
    {
    	padding: 0px;
    	color: #02918C;
		font-weight: 900;
		font-size: 2em;
		margin: 0;
		padding: 15px;
    }
    .container3 h2
    {
    	padding: 0px;
    	color: #02918C;
		font-weight: 900;
		font-size: 2em;
		margin: 0;
		padding: 15px;
    }
    .container3 {
		padding: 5px 0 10px;
	}
	.container1 {
		padding: 5px 0 10px;
	}
	.section-nav ul li a{
		margin: 0.5em;
		padding: 0;
	}
	.imagen-work .imagen-hover{
		padding: 0.1px;
	}
	.imagen-work .imagen-hover{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% ,-50% );
width: 60%;
height: 45%;
background: #02918C;
opacity: 0.9;
color: #fff;
text-align: center;
}
	.imagenes6 .container-imagen .im2{
			display: none;
		}
}